	<!-- About Section -->
	<section class="about-section" id="about">
		<div class="circle-layer" style="background-image:url(assets/images/icons/icon-1.png)"></div>
		<div class="dotted-layer" style="background-image:url(assets/images/icons/dotted-pattern.png)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="title">About Us</div>
					<div class="separate"></div>
				</div>
				<div class="row clearfix">
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<p>Excepteur sint occaecat cupidatat no proident sunt culp qui officia deserunt mollit any laboruys. Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor que totams rendy aperiam eaque laudantium sed ipsum dolor sit amet consectetur.</p>
						<p>Eiusmod temp incididunt laborey magna aliqua enimas minim veniam quis sit voluptatem.</p>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<p>Accusantium dolore mquey laudan totam rem aperiam eaque ipsa quae ab illo inventore veritatis quas chitecto beatae vitae dicta sunt explicabo.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						<a href="#" class="read-more">Read More <span class="arrow flaticon-arrow"></span></a>
					</div>
					
				</div>
				
				<!-- Counter Boxed -->
				<div class="counter-boxed">
					
					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">
	
							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-mouse"></div>
										<div class="count-outer count-box alternate">
											<span class="count-text" data-speed="4500" data-stop="600">0</span>+
										</div>
										<div class="counter-title">Project</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-user-4"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="150">0</span>+
										</div>
										<div class="counter-title">Client</div>
									</div>
								</div>
							</div>
							
							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-imac"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2000" data-stop="80">0</span>+
										</div>
										<div class="counter-title">Award</div>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->

  	<!-- Services Section -->
	<section class="services-section" id="services">
		<div class="icon-one" style="background-image:url(assets/images/icons/icon-3.png)"></div>
		<div class="service-image" style="background-image:url(https://via.placeholder.com/330x950)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="title">What We Do</div>
					<div class="separate"></div>
				</div>
				<div class="row clearfix">
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-data"></span>
							</div>
							<h5><a href="#">Web Development</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-graphic"></span>
							</div>
							<h5><a href="#">Digital Marketing</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-vector"></span>
							</div>
							<h5><a href="#">Brand Designing</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-smartphone-2"></span>
							</div>
							<h5><a href="#">Mobile Applications</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-graphic-tool"></span>
							</div>
							<h5><a href="#">Ux/Ui Design</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-rate"></span>
							</div>
							<h5><a href="#">Search Optimization</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->

  <!-- Gallery Section -->
	<section class="gallery-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Gallery Section -->

 	<!-- Contact Section -->
	 <section class="contact-section" style="background-image:url(assets/images/background/1.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(assets/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">Contact us</div>
							<div class="separate"></div>
						</div>
						
						<ul class="info-list">
							<li>
								<strong>London Office, UK</strong>
								58 Crown Street, London CA11 2ZX<br>
								United Kingdom<br>
								Phone: <a href="tel:079-7807-2032">079 7807 2032</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
							<li>
								<strong>Newyork Office, USA</strong>
								4157  Settlers Lane, Huntington, NY<br>
								11743 - United States<br>
								Phone: <a href="tel:917-833-6516">917-833-6516</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
						</ul>
						
					</div>
				</div>
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(assets/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">send a message</div>
							<div class="separate"></div>
						</div>
						
						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
									
								<div class="form-group">
									<input type="text" name="username" placeholder="Your name" required>
								</div>
								
								<div class="form-group">
									<input type="email" name="email" placeholder="Email address" required>
								</div>
								
								<div class="form-group">
									<textarea name="message" placeholder="message"></textarea>
								</div>
							
								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">send message</span></button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Contact Section -->